.Card-item {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}


.ship-image {
  height: auto;
  width: auto;
  flex: 1;
}


.paper-card-info {
   height: 100;
   width: 100;
   margin: 20;
   textAlign: 'center';
   display: 'inline-block';
   }


.flex-container-thing {
  max-width: 1200px;
  margin: 100px auto 20px auto;
  display: flex;
}

.flex-container-bottom {
  max-width: 1200px;
  margin: 10px auto 30px auto;
  display: flex;
}

.flex-button-div {
  float: right;
}

.purchase-button {

}

.card-style-div {
  margin-top: 30px;
  flex: 3;
  align-self: flex-end;
}

.left-side-item {
  padding: 20px;
  margin-top: 40px;
  flex: 1;
}

.list-style-div {
  padding: 20px;
  margin-top: 40px;
  flex: 2;
}

.list-style-list {
  margin: 28px;
  marginLeft: 30px;
  padding: 12px;
  textAlign: right;
  display: inline-block;
}

.waiting-div {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
}

.waiting-circle {
  max-width: 50%;

}
